# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# T4 Template cache
*.t4cache

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview

# Windows image file caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
*.swp
*.*~
project.lock.json
.nuget
.vs/
obj/
bin/